In [76]:
# First import the libraries you'll need
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns

In [77]:
df = pd.read_csv(r'AB_US_2023.csv')
df.head(2)

C:\Users\prasa\AppData\Local\Temp\ipykernel_16908\1466860537.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'AB_US_2023.csv')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,city
0,958,"Bright, Modern Garden Unit - 1BR/1BTH",1169,Holly,NaN,Western Addition,37.77028,-122.43317,Entire home/apt,202,2,383,2023-02-19,2.31,1,128,59,San Francisco
1,5858,Creative Sanctuary,8904,Philip And Tania,NaN,Bernal Heights,37.74474,-122.42089,Entire home/apt,235,30,111,2017-08-06,0.66,1,365,0,San Francisco

In [78]:
#Zahara's work

missing = df.isnull().sum()
percentage = (df.isnull().sum() / len(df)) * 100
missing_info = pd.DataFrame({'Missing Values': missing, 'Percentage Missing': percentage})
missing_info.sort_values(by='Missing Values', ascending=False)

                                Missing Values  Percentage Missing
neighbourhood_group                     135647           58.431511
reviews_per_month                        49085           21.143930
last_review                              49085           21.143930
name                                        16            0.006892
host_name                                   13            0.005600
id                                           0            0.000000
number_of_reviews                            0            0.000000
number_of_reviews_ltm                        0            0.000000
availability_365                             0            0.000000
calculated_host_listings_count               0            0.000000
price                                        0            0.000000
minimum_nights                               0            0.000000
room_type                                    0            0.000000
longitude                                    0            0.000000
latitude                                     0            0.000000
neighbourhood                                0            0.000000
host_id                                      0            0.000000
city                                         0            0.000000

In [79]:
#Zahara's work

df['reviews_per_month'].fillna(0, inplace=True)

In [80]:
#Zahara's work

df['last_review'] = df['last_review'].fillna(method='bfill')

In [82]:
#Zahara's work

df.dropna(subset=['host_name', 'name'], inplace=True)

In [83]:
#Zahara's work

lower_bound = .25
upper_bound = .75
df = df[df['price'].between(df['price'].quantile(lower_bound), df['price'].quantile(upper_bound))]
df = df[df['number_of_reviews'] > 0]
df = df[df['calculated_host_listings_count'] < 10]
df = df[df['number_of_reviews'] < 200]
df = df[df['minimum_nights'] < 10]
df = df[df['reviews_per_month'] < 5]
# df= df.drop(columns=['neighbourhood_group'])
# df= df.drop(columns=['last_review'])

In [84]:
#Zahara's work

missing = df.isnull().sum()
percentage = (df.isnull().sum() / len(df)) * 100
missing_info = pd.DataFrame({'Missing Values': missing, 'Percentage Missing': percentage})
missing_info.sort_values(by='Missing Values', ascending=False)

                                Missing Values  Percentage Missing
neighbourhood_group                      28727           63.617238
id                                           0            0.000000
minimum_nights                               0            0.000000
number_of_reviews_ltm                        0            0.000000
availability_365                             0            0.000000
calculated_host_listings_count               0            0.000000
reviews_per_month                            0            0.000000
last_review                                  0            0.000000
number_of_reviews                            0            0.000000
price                                        0            0.000000
name                                         0            0.000000
room_type                                    0            0.000000
longitude                                    0            0.000000
latitude                                     0            0.000000
neighbourhood                                0            0.000000
host_name                                    0            0.000000
host_id                                      0            0.000000
city                                         0            0.000000

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45156 entries, 5 to 232088
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              45156 non-null  int64
 1   name                            45156 non-null  object
 2   host_id                         45156 non-null  int64
 3   host_name                       45156 non-null  object
 4   neighbourhood_group             16429 non-null  object
 5   neighbourhood                   45156 non-null  object
 6   latitude                        45156 non-null  float64
 7   longitude                       45156 non-null  float64
 8   room_type                       45156 non-null  object
 9   price                           45156 non-null  int64
 10  minimum_nights                  45156 non-null  int64
 11  number_of_reviews               45156 non-null  int64
 12  last_review                     45156 non-null  object
 13  reviews_per_month               45156 non-null  float64
 14  calculated_host_listings_count  45156 non-null  int64
 15  availability_365                45156 non-null  int64
 16  number_of_reviews_ltm           45156 non-null  int64
 17  city                            45156 non-null  object
dtypes: float64(3), int64(8), object(7)
memory usage: 6.5+ MB

In [2]:
# cleaning procedures above is done by Zahraa

#figuring out accuarcy is suggested by Manpreet at the bottom

In [89]:
# Manpreet's Work

df.corr()

C:\Users\prasa\AppData\Local\Temp\ipykernel_16908\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
id,1.000000,-0.029538,0.011170,0.034806,-0.136292,-0.488268,0.147903,0.045129,0.163810,-0.235994
latitude,-0.029538,1.000000,0.021184,-0.091434,0.028778,0.054169,0.024723,-0.116936,-0.012231,0.063411
longitude,0.011170,0.021184,1.000000,-0.000853,0.062041,-0.055961,-0.061616,-0.019403,0.013772,-0.042916
price,0.034806,-0.091434,-0.000853,1.000000,0.062601,-0.069373,-0.043530,0.009971,0.028888,-0.045621
minimum_nights,-0.136292,0.028778,0.062041,0.062601,1.000000,-0.038905,-0.253278,-0.091650,-0.110093,-0.164542
number_of_reviews,-0.488268,0.054169,-0.055961,-0.069373,-0.038905,1.000000,0.407944,-0.027425,-0.021520,0.609374
reviews_per_month,0.147903,0.024723,-0.061616,-0.043530,-0.253278,0.407944,1.000000,0.013812,0.108464,0.747864
calculated_host_listings_count,0.045129,-0.116936,-0.019403,0.009971,-0.091650,-0.027425,0.013812,1.000000,0.152006,0.008081
availability_365,0.163810,-0.012231,0.013772,0.028888,-0.110093,-0.021520,0.108464,0.152006,1.000000,0.071363
number_of_reviews_ltm,-0.235994,0.063411,-0.042916,-0.045621,-0.164542,0.609374,0.747864,0.008081,0.071363,1.000000

In [3]:
sns.pairplot()

NameError: name 'sns' is not defined

In [103]:
# Manpreet's Work

# Create dummy variables for all 'object' type variables except 'Loan_Status'
df = pd.get_dummies(df, columns=['room_type','city'])
df.head(2)

,id,name,host_name,neighbourhood_group,neighbourhood,latitude,longitude,price,minimum_nights,number_of_reviews,...,city_Rhode Island,city_Salem,city_San Diego,city_San Francisco,city_San Mateo County,city_Santa Clara County,city_Santa Cruz County,city_Seattle,city_Twin Cities MSA,city_Washington D.C.
5,10537,Elegant & Cozy w/City views. Private room: Purple,Teresa,NaN,Bayview,37.71750,-122.39698,95,1,19,...,0,0,0,1,0,0,0,0,0,0
17,493889,Spacious 1brm w/ breathtaking view,Germaine,NaN,Outer Mission,37.72833,-122.44125,235,4,102,...,0,0,0,1,0,0,0,0,0,0

In [104]:
# Manpreet's Work

df.columns

Index(['id', 'name', 'host_name', 'neighbourhood_group', 'neighbourhood',
       'latitude', 'longitude', 'price', 'minimum_nights', 'number_of_reviews',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm',
       'room_type_Entire home/apt', 'room_type_Hotel room',
       'room_type_Private room', 'room_type_Shared room', 'city_Asheville',
       'city_Austin', 'city_Boston', 'city_Broward County', 'city_Cambridge',
       'city_Chicago', 'city_Clark County', 'city_Columbus', 'city_Denver',
       'city_Jersey City', 'city_Los Angeles', 'city_Nashville',
       'city_New Orleans', 'city_New York City', 'city_Oakland',
       'city_Pacific Grove', 'city_Portland', 'city_Rhode Island',
       'city_Salem', 'city_San Diego', 'city_San Francisco',
       'city_San Mateo County', 'city_Santa Clara County',
       'city_Santa Cruz County', 'city_Seattle', 'city_Twin Cities MSA',
       'city_Washington D.C.'],
      dtype='object')

In [105]:
# selected_features = [
#     'minimum_nights',
#     'number_of_reviews',
#     'availability_365',
#     'room_type_Entire home/apt',
#        'room_type_Hotel room',
#     'room_type_Private room',
#        'room_type_Shared room'
    
# ]

In [106]:
selected_features = [
    'minimum_nights',
    'number_of_reviews',
    'availability_365',
    'room_type_Entire home/apt',
       'room_type_Hotel room', 'room_type_Private room',
       'room_type_Shared room', 'city_Asheville', 'city_Austin', 'city_Boston',
       'city_Broward County', 'city_Cambridge', 'city_Chicago',
       'city_Clark County', 'city_Columbus', 'city_Denver', 'city_Jersey City',
       'city_Los Angeles', 'city_Nashville', 'city_New Orleans',
       'city_New York City', 'city_Oakland', 'city_Pacific Grove',
       'city_Portland', 'city_Rhode Island', 'city_Salem', 'city_San Diego',
       'city_San Francisco', 'city_San Mateo County',
       'city_Santa Clara County', 'city_Santa Cruz County', 'city_Seattle',
       'city_Twin Cities MSA', 'city_Washington D.C.'
      
]

In [107]:
x = df[selected_features]
y = df['price']

In [108]:
x.head(2)

,minimum_nights,number_of_reviews,availability_365,room_type_Entire home/apt,room_type_Hotel room,room_type_Private room,room_type_Shared room,city_Asheville,city_Austin,city_Boston,...,city_Rhode Island,city_Salem,city_San Diego,city_San Francisco,city_San Mateo County,city_Santa Clara County,city_Santa Cruz County,city_Seattle,city_Twin Cities MSA,city_Washington D.C.
5,1,19,365,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
17,4,102,352,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [109]:
y

5          95
17        235
37        165
40        164
42        160
         ...
232039    166
232057    111
232059    189
232078    121
232088    177
Name: price, Length: 45156, dtype: int64

In [110]:
# splitting the data in training and testing set
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=0.25, random_state=123)

In [111]:
xtrain.shape, xtest.shape, ytrain.shape, ytest.shape

((33867, 34), (11289, 34), (33867,), (11289,))

In [112]:
# scale the data using min-max scalar
from sklearn.preprocessing import MinMaxScaler
scale = MinMaxScaler()

In [113]:
# Fit-transform on train data
xtrain_scaled = scale.fit_transform(xtrain)
xtest_scaled = scale.transform(xtest)

In [114]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(max_iter=50000)  # You can adjust the value as needed

In [115]:

lrmodel = model.fit(xtrain_scaled, ytrain)

In [116]:
# Predict the loan eligibility on testing set and calculate its accuracy.
# First, from sklearn.metrics import accuracy_score and confusion_matrix
from sklearn.metrics import accuracy_score, confusion_matrix

ypred = lrmodel.predict(xtest_scaled)

accuracy_score(ypred, ytest)

0.03933032155195323

In [117]:
# import the model
from sklearn.neural_network import MLPClassifier

In [119]:
# fit/train the model. Check batch size.
MLP = MLPClassifier(hidden_layer_sizes=(6,3), max_iter=600, random_state=123)
MLP.fit(xtrain,ytrain)

MLPClassifier(hidden_layer_sizes=(6, 3), max_iter=600, random_state=123)

In [122]:
# make Predictions
ypred = MLP.predict(xtest)

In [123]:
# import evaluation metrices
from sklearn.metrics import confusion_matrix, accuracy_score

In [125]:
confusion_matrix(ytest, ypred)

array([[ 0,  0,  0, ...,  0,  0,  1],
       [ 0,  0,  0, ...,  0,  0,  4],
       [ 0,  0,  0, ...,  0,  0,  1],
       ...,
       [ 0,  0,  0, ...,  0,  0,  4],
       [ 0,  0,  0, ...,  0,  0, 14],
       [ 0,  0,  0, ...,  0,  0, 49]], dtype=int64)

In [127]:
# check accuracy of the model
accuracy_score(ytest, ypred)

0.03906457613606165

In [128]:
# import linear regression model
from sklearn.linear_model import LinearRegression

In [129]:
# seperate input features in x
x = df.drop('price', axis=1)

# store the target variable in y
y = df['price']

In [130]:
# import module
from sklearn.model_selection import train_test_split

# Split the dataset
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=1234)

In [133]:
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((36124, 44), (36124,), (9032, 44), (9032,))

In [ ]:
df.to_excel('modeling_Manpreet.xlsx', index=False)